<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../static/favicon.ico">

        <title>Magic Number</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../static/js/jquery-3.1.1.min.js"><\/script>')</script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

        <!-- Bootstrap core CSS -->
        <link href="../static/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="../static/css/starter-template.css" rel="stylesheet">

        <!-- Inline CSS based on choices in "Settings" tab -->
        <style>.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form{font-family: Arial, Helvetica, sans-serif; color: black}.bootstrap-iso form button, .bootstrap-iso form button:hover{color: white !important;} .asteriskField{color: red;}</style>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/css/bootstrapvalidator.min.css " />
        <link href="../static/css/navbar.css" rel="stylesheet">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <link rel="stylesheet" href="//cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
        <style>#mapid { height: 500px; }</style>
        <script src="//cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>



    </head>

    <body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Magic Number</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/slides">Slides</a></li>
                    <li class="active"><a href="/realtime">RealTime</a></li>


                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <!-- Inline CSS based on choices in "Settings" tab -->

    <div id="mapid">
    </div>

<script>

var mymap = L.map('mapid').setView([40.712800, -74.005900], 11);
L.tileLayer('https://api.mapbox.com/styles/v1/beizhao215/ciu2cjsga006e2iqd93u9vfe4/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoiYmVpemhhbzIxNSIsImEiOiJjaXExcXhkM3UwMHlhZnNubm5uaG8wenJnIn0.cAFVYL166sWTuqwT_zwSzg', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 18,
    id: 'insight'
}).addTo(mymap);

{% for each in output %}

{% if each[2] < 3 %}
var circle = L.circle([{{each[0]}}, {{each[1]}}], 0.5).addTo(mymap);
{% else %}
var marker = L.marker([{{each[0]}}, {{each[1]}}]).bindPopup('{{each[2]}}').addTo(mymap);
{% endif %}
{% endfor %}

</script>
</body>


</html>